body {
background: linear-gradient(135deg, #4a148c, #880e4f);
color: #fff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mb-4, .mt-3 {
    color:#bd5149;
}

.card {
background: #1c1c1c;
border-radius: 15px;
padding: 30px;
box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
}
.btn-custom {
background: #ff6f61;
border: none;
}
.btn-custom:hover {
background: #ff3d2e;
}